*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #19375b;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: #a7bfdc;
}
.container{
 position: absolute;
 width: 600px;
 height: 880px;
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.tools , .stats{
    margin-top: 100px;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(#061423,#0d1f32);
}
.stats{
    margin-top: 20px;
    
}

.cells{
    display: flex;

}
.cell{
    width: 150px;
    height: 150px;
    background-color: #0d1f32;
    margin: 10px;
   border-radius: 20px;
   box-shadow: 0 5px 0 rgba(0,0,0,0.5);
   cursor: pointer;
   color: #a7bfdc;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 6em;
}

.player,.draws{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    font-weight: 700;
    font-size: 0.7em;

}
